<!-- login -->
<div class="login">
  <div class="container">
    <div class="login-body">
      <div class="login-heading">
        <h1>Resend confirmation instructions</h1>
      </div>
      <div class="login-info">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Email', required: true, class: 'user', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

          <%= f.submit "Resend confirmation instructions" %>

          <div class="signup-text">
            <%- if controller_name != 'sessions' %>
              <%= link_to "Already Confirmed? Login", new_session_path(resource_name) %><br />
            <% end -%>

            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Don't have an account? Create one now", new_registration_path(resource_name) %><br />
            <% end -%>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- //login -->
