<!-- how to enroll -->
  <div class="about">
    <div class="about-heading">
      <div class="container">
        <h2 class="wow fadeInDown animated" data-wow-delay=".5s">How to Enroll</h2>
        <p class="double-line-space">The process to enroll in is really simple and contains 3 steps.</p>
      </div>
    </div>
    <div class="about-top">
      <div class="container">
        <div class="about-bottom">
          <h3 class="site-green-text">1. Find Your Course</h3>
          <p class="double-line-space">Find the course that you find interesting and want to pursue using the search on the <a href="<%= root_path %>">homepage</a> or on the complete <a href="<%= courses_path %>">course listing</a> page. Once you have found the course you are looking for, click on the course to go on the course detail page.</p>
          <h3 class="site-green-text">2. Select Location, Level &amp; Batch</h3>
          <p class="double-line-space">There are dropdowns for available locations, levels and batches for each course. Select the ones that suit your needs and click on enroll. Please note that you must be logged in to enroll for a course. Else you can register and will be redirected on the same page after your account has been verified.</p>
          <h3 class="site-green-text">3. Pay</h3>
          <p class="double-line-space">When you give your confirmation for the enrollment, one of our support staff will reach out to you and ask for payment which can be made using NEFT. The account details will be shared with you. As soon as we receive the confirmation, we'll notify you about your enrollment details. If you have any query, you can <a href="<%= contact_path %>">reach out to us</a>. You can find your enrollment id from the enrollment listing page from the navigation bar if asked for.</p>

          <hr />
          <h3 class="site-green-text">Cancellation</h3>
          <p class="double-line-space">To raise any concern or ask for cancellation, you can <a href="<%= contact_path %>">reach out to us</a>. Please go through our terms &amp; conditions regarding the same. We'll do the best to solve your problem and in case a cancellation is made, full amount shall be transferred to your account.</p>
          <hr />
          <h3 class="site-green-text">Open for Suggestions:</h3>
            <p class="double-line-space">You can <a href="<%= contact_path %>">write to us</a> to give any suggestions or feedback regarding our enrollment procedure at any point of time.</p>
        </div>
      </div>
    </div>
  </div>
<!-- //how to enroll -->
