<!-- Preferences -->
<div class="login">
  <div class="container">
    <div class="login-body">
      <div class="login-heading">
        <h1>Your Preferences</h1>
      </div>
      <div class="login-info" id="user-preferences-section">
        <div>
          Newsletter Subscription:
          <% if current_user.subscribed_to_newsletter? %>
            <%= link_to 'Unsubscribe', newsletter_path(current_user.newsletter), method: :delete, class: 'pull-right btn btn-danger' %>
          <% else %>
            <%= link_to 'Subscribe', newsletters_path, method: :post, class: 'pull-right btn btn-primary' %>
          <% end %>
        </div>
        <p class="hint-text">Newsletter subscription enables you to receive latest news and info related to us and your favorite courses.</p>
        <hr />

        <%= form_for(current_user, url: user_preferences_path, method: :patch, html: { id: 'user-preferences-form' }) do |f| %>
          <p>First Name</p>
          <%= f.text_field :first_name, placeholder: 'First Name', class: 'user' %>
          <p>Last Name</p>
          <%= f.text_field :last_name, placeholder: 'Last Name', class: 'user' %>
          <p>Phone Number</p>
          <%= f.number_field :phone_number, placeholder: 'Phone Number', class: 'user' %>
          <%= f.submit "Update" %>

        <% end %>
        <hr />
        <div class="signup-text">
          <%= link_to "Change Password", edit_user_registration_path %>
        </div>
    </div>
  </div>
</div>
<!-- //Preferences -->
