<p id="notice"><%= notice %></p>

<div class="container">

  <h1>Listing Courses</h1>

  <table border="1" class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Thumbnail</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.description %></td>
          <td><%= cl_image_tag(course.main_image_hashed_id, width: 100, height: 100, crop: :fill) %></td>
          <td><%= link_to 'Show', admin_course_url(course) %></td>
          <td><%= link_to 'Edit', edit_admin_course_path(course) %></td>
          <td><%= link_to 'Destroy', admin_course_url(course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Course', new_admin_course_path %>
</div>